LOCAL_HOST=<LAN-IP>
PORT=5560
HYDRA_PUBLIC_URL=http://<LAN-IP>:4444
HYDRA_ADMIN_URL=http://127.0.0.1:4445
CLIENT_ID=verus-express-login
CLIENT_SECRET=verus-express-secret
REDIRECT_URI=http://<LAN-IP>:5560/callback
SCOPES=openid offline verusid
SESSION_SECRET=replace-with-a-long-random-session-secret
# SHOW_DEBUG_TOKENS=1
