LOCAL_HOST=<LAN-IP>
PORT=5570
HYDRA_PUBLIC_URL=http://<LAN-IP>:4444
HYDRA_ADMIN_URL=http://127.0.0.1:4445
CLIENT_ID=verus-member-portal
CLIENT_SECRET=verus-member-secret
REDIRECT_URI=http://<LAN-IP>:5570/callback
SCOPES=openid offline verusid
SESSION_SECRET=replace-with-a-long-random-session-secret
